 /* --------------- NAVIGATION (TOP OF PAGE) --------------- */
 
    
    #header .navbar-main {
        
        background-color: #222916;
        border-radius: 5px 5px 0px 0px;
}
        
    .navbar-status {
            
       background-color: #222916!important;
       color: #525e2e!important;
       font-family: 'MedievalSharp';
       border-radius: 0px 0px 5px 5px;    
}
  
    #header > nav.navbar.navbar-status.navbar-expand > div { /* For Player Username */
        
       font-family: 'Grenze Gotisch';
       color: #525e2e!important;
        
}
    .navbar-status a {
        
       color: #525e2e!important;
        
}     
